<!DOCTYPE html>
<html>
    <head>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>

      
<div class="container">
    <div class="row">
      <div class="col-sm-2">
         <!----<div class="flex-container"><img src="assets\images\IMG-20180729-WA0001.jpg">
            <font color="white">hello, Sekhar</font></div>-->
            <div class="flex-container"><br>
              <span class="glyphicon glyphicon-unchecked"></span><br><br>
              <img src="assets\images\baby.jpg"><br>
              <div>hello, sekhar</div> 
              <br><br>
            </div>
         <div align="center"><b>Dash board</b></div>
        
         <div class="flex-container1">
            <div><span class="glyphicon glyphicon-calendar"></span>calendar</div>
            <div><span class="glyphicon glyphicon-book"></span>Tickets</div>
            <div><span class="glyphicon glyphicon-user"></span>Contacts</div>  
            <div><span class="glyphicon glyphicon-book"></span>Books</div>
            <div><span class="glyphicon glyphicon-transfer"></span>Settings</div> 
            <br><br><br> <br><br><br>
            <br><br><br><br>
            <div>powered by nest</div><br>
          </div>
      </div>

      <div class="col-sm-3">
        <br>
        <div class="row">
        <div class="col-xs-9"><b>Bulletin board</b></div>
        <div class="col-xs-3"><i class="fa fa-plus-circle" style="font-size:22px;color:green"></i></div>
        </div><br>
        <img src="assets\images\girl1.jpg" id="rcorners1" height="90%" width="90%"/><br>
      <b>Bluestone lane now overtakes starbets</b><br>
      <font color="gray">To celebrate company happy hours yards and near by places</font><br><br>
      <div class="row">
          <div class="col-xs-3"><img src="assets\images\IMG-20180725-WA0026.jpg" id="radius"/></div>
            <div class="col-xs-9"><p>By catherrin wassen</p>
        <font color="gray">7 days ago</font></div>
        </div><br>
      <img src="assets\images\IMG-20180725-WA0022.jpg" id="rcorners1" height="90%" width="90%"/><br>
      <b>Bluestone lane now opening at 1902 St</b><br>
      <font color="gray">To celebrate company happy hours yards and near by places</font><br><br>
      <div class="row">
          <div class="col-xs-3"><img src="assets\images\IMG-20180725-WA0026.jpg" id="radius"/></div>
            <div class="col-xs-9"><p>By catherrin wassen</p>
        <font color="gray">7 days ago</font></div>
        </div>
      </div>

      <div class="col-sm-4"><br>
        <div><b>Shift Monitor</b></div><br>
       <div> <input type="button" value="pending"  class="pending"> &nbsp;&nbsp;
        <input type="button" value="confirmed"  class="confirmed">  </div><br>
        
      <div class="row">
        <div class="col-sm-6"><font color="gray" >Name</font></div>
        <div class="col-sm-6"><font color="gray" >Time/place</font></div> </div><br>
        <div class="row">
          <div class="col-sm-2"><img src="assets\images\IMG-20180725-WA0026.jpg" class="pic"></div>
          <div class="col-xs-4"><p>sekhar</p>
            <font color="gray" size="1%">Team member</font></div>
            <div class="col-xs-6"><p>10:00AM-07:00PM</p>
              <font color="gray" size="1%">Fifth avenue store</font></div>
        </div><br>
        <div class="row">
          <div class="col-sm-6"><font color="gray" >Mobile no</font>
          <div>(+91)7702675323</div></div>
          <div class="col-sm-6"><font color="gray" >Status</font>
            <div> <input type="button" value="Active"  class="Active"> </div></div>
        </div><br>

        <div class="row">
          <div class="col-sm-6"><font color="gray" >Name</font></div>
          <div class="col-sm-6"><font color="gray" >Time/place</font></div> </div><br>
          <div class="row">
            <div class="col-sm-2"><img src="assets\images\IMG-20180725-WA0026.jpg" class="pic"></div>
            <div class="col-xs-4"><p>Ramesh</p>
              <font color="gray" size="1%">Team member</font></div>
              <div class="col-xs-6"><p>10:00AM-07:30PM</p>
                <font color="gray" size="1%">Fifth avenue store</font></div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><font color="gray" >Mobile no</font>
            <div>(+91)9902560234</div></div>
            <div class="col-sm-6"><font color="gray" >Status</font>
              <div> <input type="button" value="Active"  class="waiting"> </div></div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><font color="gray" >Name</font></div>
            <div class="col-sm-6"><font color="gray" >Time/place</font></div> </div><br>
            <div class="row">
              <div class="col-sm-2"><img src="assets\images\IMG-20180725-WA0026.jpg" class="pic"></div>
              <div class="col-xs-4"><p>Purandhar</p>
                <font color="gray" size="1%">Team member</font></div>
                <div class="col-xs-6"><p>10:00AM-07:PM</p>
                  <font color="gray" size="1%">Fifth avenue store</font></div>
            </div><br>
            <div class="row">
              <div class="col-sm-6"><font color="gray" >Mobile no</font>
              <div>(+91)8885361262</div></div>
              <div class="col-sm-6"><font color="gray" >Status</font>
                <div> <input type="button" value="Active"  class="idle"> </div></div>
            </div><br>

            <div class="row">
              <div class="col-sm-6"><font color="gray" >Name</font></div>
              <div class="col-sm-6"><font color="gray" >Time/place</font></div> </div><br>
              <div class="row">
                <div class="col-sm-2"><img src="assets\images\IMG-20180725-WA0026.jpg" class="pic"></div>
                <div class="col-xs-4"><p><font color="gray" size="2%">Venky</font></p></div>
                  <div class="col-xs-6"><p><font color="gray" size="2%">10:00AM-07:PM</font></p> </div> 
              </div><br>
        

      </div>


      <div class="col-sm-3"><br>
        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-2"><span class="glyphicon glyphicon-search"></span></div>
          <div class="col-sm-2"><span class="glyphicon glyphicon-tree-deciduous"></span></div>
        </div>
        <div class="row">
          <div class="col-sm-7"></div>
          <div class="col-sm-5"><h6>26 jan, 2019</h6></div>
        </div>
        <h5><b>Travel Time</b></h5>
          <span class="glyphicon glyphicon-inbox"style="font-size:50%;color:gray;"></span>&nbsp;<span >car</span>&nbsp;&nbsp;
          <span class="glyphicon glyphicon-print"style="font-size:50%;color:gray;"></span>&nbsp;<span style="font-size:70%;color:gray">bus</span>&nbsp;&nbsp;
          <span class="glyphicon glyphicon-grain" style="font-size:50%;color:gray;"></span>&nbsp;<span style="font-size:70%;color:gray">walk</span>
         <br><br><br>
          <div class="row">
           <div class="col-sm-3"></div>
           <div class="col-sm-9"><div><font color="gray" size="1%">Leave by</font></div>
                <div><b><font size="5%">08:34</font></b><font color="gray" size="1%">AM</font></div>
                <div><font color="gray" size="1%">Estimated time 11 minutes</font></div>
            </div>
        </div><br>
        <div><b>Today's Weather</b></div><br>
        
        <div class="container2">
          <div><font color="gray" size="1%">New York</font></div><br><br>
          <div class="temp"><b><font size="5%">27 C</font></b>
          </div>
        </div>
         
    </div>
    </div>
  </div>
  
</body>


</html>



<router-outlet></router-outlet>

